<div class='content_darkgray'>
  <h5 class='content_darkgray_head'> Болох гэж байгаа тоглолтууд </h5>
  <table class="table match_list">
    <tbody>
      <tr ng-repeat="match in MM.matches">
        <td>
          <a href='/match/{{match.id}}'>
            <span class='team_name'>{{match.fTeam.title}}</span>
            <span class='vs'> VS </span>
            <span class='team_name'>{{match.sTeam.title}}</span>
          </a>
          <span class='status'> {{ MM.calculateDiff(match.date) }} </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
