<div class="container" id="toporino">
  <div class="row">
    <div class="col-md-12">
      <form ng-submit="aMM.submit()" enctype="multipart/form-data">
        <div class='row'>
          <div class='col-md-3'>
            <div class="form-group">
              <label>Тоглох баг 1:</label>
              <select class="form-control" ng-model="aMM.team1" ng-options="team as team.title for team in aMM.teams">
                <option value=""> Choose Team </option>

              </select>
            </div>
          </div>
          <div class='col-md-3'>
            <div class="form-group">
              <label>Тоглох баг 2:</label>
              <select class="form-control" ng-model="aMM.team2" ng-options="team as team.title for team in aMM.teams">
                <option value=""> Choose Team </option>
              </select>
            </div>
          </div>
          <div class='col-md-3'>
            <div class="form-group">
              <label>Тоглох тоглолтын тоо</label>
              <select class="form-control" ng-model="aMM.match.gameSeries">
                <option value=""> Choose one </option>
                <option value="1"> Best of 1 </option>
                <option value="2"> Best of 2 </option>
                <option value="3"> Best of 3 </option>
                <option value="5"> Best of 5 </option>
                <option value="7"> Best of 7 </option>
              </select>
            </div>
          </div>
        </div>


        <div class='row'>
          <div class='col-md-4'>
            <div class="form-group">
              <label for="usr">Тоглолтын цаг өдөр:</label>

              <datetimepicker ng-model="aMM.match.date" ></datetimepicker>
            </div>
          </div>

          <div class='col-md-6'>
            <div class="form-group">
               <p>Сонгосон багууд: <strong>{{aMM.team1.title}}</strong> vs <strong>{{aMM.team2.title }}</strong></p>
               <p>Хэдэн удаа тоглох: <strong>{{ aMM.match.gameSeries }}</strong></p>
               <p>Сонгосон өдөр: <strong>{{ aMM.match.date | date:'yyyy-MM-dd HH:MM' }} </strong></p>
            </div>
            <button type="submit" class="btn btn-default">Оруулах</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
