<div class="container" id="toporino">
  <div class='row'>
    <div class='col-md-2'>
      <label> Тоглох багууд </label>
      <input type="text" class="form-control" ng-model="aPart.query">
      <div class='teams_wrapper'>
        <table>
          <tr ng-repeat='team in aPart.teams | filter: aPart.query'>
            <td>
              <img style='width: 80%; margin-top: 10px;' ng-if='team.logo' src='/api/images/{{team.logo}}'>
              <div class='button field'>
                <button ng-click='aPart.pushTeam(team.id)' type="button" class="btn btn-success">Нэмэх</button>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class='col-md-5'>
      <!-- <pre> {{aPart.tour | json}} </pre> -->

      <label> Баг нэмэхэд сонгосон тэмцээн </label>
      <label style='float: right; color: green;'> {{aPart.tour.title}} </label> <br>
      <label> Оролцож байгаа багийн тоо </label>
      <label style='float: right; color: green;'> {{aPart.tour.participants.length}} </label> <br>
      <button class='btn btn-default' style='float:right;' ng-click='aPart.savePart()'> Хадгалах </button>
      <div class='teams_wrapper'>
        <div ng-repeat='part in aPart.tour.participants' class='logos'>
          <div class='participant-logo-wrapper'>
            <img src='/api/images/{{part.team.logo}}'>
            <button type='button' ng-click='aPart.removeTeam($index)' class='btn btn-danger'>Хасах</button>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-5'>
      <table class="table table-condensed">
        <thead>
          <tr>
            <th style="width: 100px">Нэр</th>
            <th style="width: 110px">Эхлэх өдөр</th>
            <th style="width: 110px">Дуусах өдөр</th>
            <th>Засах</th>
          </tr>
        </thead>
        <tbody ng-repeat="tour in aPart.tours">
          <tr>
            <td>{{tour.title}}</td>
            <td>{{tour.sDate | date}}</td>
            <td>{{tour.eDate | date}}</td>
            <td>
              <button type="button" class="btn btn-primary" ng-click='aPart.selectTour(tour.id)'>Сонгох</button>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
