<div class="container" id="toporino">
  <div class='row'>

    <div class='col-md-3'>
      <label>
          {{ aGame.team1.players[0].title }}
      </label>
      <label>
          {{ aGame.team1.players[1].title }}
      </label>
      <label>
          {{ aGame.team1.players[2].title }}
      </label>
      <label>
          {{ aGame.team1.players[3].title }}
      </label>
      <label>
          {{ aGame.team1.players[4].title }}
      </label>
    </div>
    <div class='col-md-3'>
      <label>
          {{ aGame.team2.players[0].title }}
      </label>
      <label>
          {{ aGame.team2.players[1].title }}
      </label>
      <label>
          {{ aGame.team2.players[2].title }}
      </label>
      <label>
          {{ aGame.team2.players[3].title }}
      </label>
      <label>
          {{ aGame.team2.players[4].title }}
      </label>
    </div>

    <div class='col-md-3'>
    </div>


    <div class='col-md-5'>
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Нэр</th>
            <th>Тоглох өдөр цаг</th>
            <th>Засах</th>
          </tr>
        </thead>
        <tbody ng-repeat="match in aGame.matches">
          <tr>
            <td>{{match.fTeam.title}} VS {{match.sTeam.title}}</td>
            <td>{{match.date | date:'yyyy-MM-dd HH:mm:ss' }}</td>
            <td>
              <button type="button" class="btn btn-primary" ng-click='aGame.selectMatch(match.id)'>Сонгох</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div>
    <pre>
      {{aGame.matches | json}}
    </pre>
  </div>
</div>
