// .checkbox {
//   margin-top: 10px;
// }

.aPostTable img {
  width: 100px;
}

.aPostTable {
  text-align: justify;
  overflow: hidden;
  display: -webkit-box;
 -webkit-line-clamp: 5;
 -webkit-box-orient: vertical;
  word-break: break-all;
}
