<form ng-submit="PP.submit()" enctype="multipart/form-data">

  <div class='textBox'>
    <div class='row'>
      <div class='col-md-4'>
        <div class='form-group'>
          <label>Мэдээний Гарчиг:</label>
          <input type="text" class="form-control" ng-model="PP.post.title">
        </div>
      </div>
      <div class='col-md-4'>
        <div class="form-group">
          <label>Category:</label>
          <select class="form-control" ng-model="PP.post.category">
            <option value=""></option>
            <option value="dota">DotA</option>
            <option value="csgo">CS:GO</option>
            <option value="lol">LoL</option>
          </select>
        </div>
      </div>
      <div class='col-md-2'>
        <div class='form-group'>
          <br>
            <label>Онцлох мэдээ</label>
            <input type="checkbox" value="true" ng-model="PP.post.top">
            <p> Slider дээр тавих эсэх </p>
        </div>
      </div>
      <div class='col-md-2' ng-show='PP.post.top'>
        <br>
        <label>Мэдээний зураг:</label>
        <input type="file" file-model="PP.post.pic" name="pic">
      </div>
    </div>
    <textarea ng-model="PP.post.content" redactor></textarea>
  </div>

  <div class='col-md-6'>
    <button type="submit" class="btn btn-default submit">Оруулах</button>
  </div>

</form>
