.contact-link ul > li > a {
  padding: 0px;
}

.contact-icons{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.navbar-custom2 .navbar-nav > li{
  color: white;
}

.navbar-custom2 .navbar-nav > a:hover {
  color: white;
  background-color: #0092D0;
}

.navbar-custom2 .navbar-nav > li > a:hover {
  background-color: #0092D0;
}

.acme-navbar-text{
  color: white;
}

.navbar-custom2 .navbar-nav > .active > a{
  background-color: #0092D0;
}

.navbar-custom2 {
  margin-top: 30px;
  color: #777777;
  border: 0px;
  text-shadow:-1px -1px 0px rgba(0, 0, 0, 0.3) !important;
	border-top:1px solid rgba(255, 255, 255, .3) !important;
	-webkit-background-clip: padding-box; /* for Safari */
	background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
	background: #4f4f4f !important; /* Old browsers */
	background: -moz-linear-gradient(top, #4f4f4f 0%, #333333 100%) !important; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4f4f4f), color-stop(100%,#333333)) !important; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #4f4f4f 0%,#333333 100%) !important; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #4f4f4f 0%,#333333 100%) !important; /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #4f4f4f 0%,#333333 100%) !important; /* IE10+ */
	background: linear-gradient(to bottom, #4f4f4f 0%,#333333 100%) !important; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f4f4f', endColorstr='#333333',GradientType=0 ) !important; /* IE6-9 */
}
.navbar-custom2 > .active {
  margin-top: 150px;
  border: 0px;
}

#s5_menu_wrap, #s5_login, #subMenusContainer div.s5_sub_wrap ul, #subMenusContainer div.s5_sub_wrap_rtl ul, #s5_register, #s5_bottom_row3_area1, .s5_ts_not_active, #subMenusContainer div.s5_sub_wrap_lower ul, #subMenusContainer div.s5_sub_wrap_lower_rtl ul {
		text-shadow:-1px -1px 0px rgba(0, 0, 0, 0.3) !important;
		border-top:1px solid rgba(255, 255, 255, .3) !important;
		-webkit-background-clip: padding-box; /* for Safari */
		background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
		background: #4f4f4f !important; /* Old browsers */
		background: -moz-linear-gradient(top, #4f4f4f 0%, #333333 100%) !important; /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4f4f4f), color-stop(100%,#333333)) !important; /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #4f4f4f 0%,#333333 100%) !important; /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #4f4f4f 0%,#333333 100%) !important; /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #4f4f4f 0%,#333333 100%) !important; /* IE10+ */
		background: linear-gradient(to bottom, #4f4f4f 0%,#333333 100%) !important; /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f4f4f', endColorstr='#333333',GradientType=0 ) !important; /* IE6-9 */}

.navbar-custom2 > .active > a, .navbar-custom2 > .active >
 a:hover, .navbar-custom2 > .active > a:focus {

}


.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: white;  /*Sets the text hover color on navbar*/
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a {
  font-family: Open Sans, sans-serif;
  color: #777777;  /*Sets the text hover color on navbar*/
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #FFFFFF;
  text-decoration: none;
  background-color: #66CCFF;  /*change color of links in drop down here*/
}
