<div id="menu" class="navbar navbar-default navbar-custom2">
  <div class="navbar-header">
    <div class="collapse navbar-collapse">
      <!-- <div class="navbar-header">
        <a class="navbar-brand" style='color: #777777' href="#">eSport News</a>
      </div> -->
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Нүүр хуудас</a></li>
        <li><a href="/">Мэдээ</a></li>
        <li><a href="/matches">Видео</a></li>
        <li><a href="/tournaments">Тэмцээн</a></li>
        <li><a href="/matches">Мэдээ</a></li>
      </ul>
    </div>
  </div>

  <div class="col-md-2 pull-right contact-link">
    <ul class='nav navbar-nav'>
      <li> <a href='https://www.facebook.com/cybercsports' target="_blank"> <img class='contact-icons' src='/assets/images/icons/facebook.png'> </a></li>
      <li> <img class='contact-icons' src='/assets/images/icons/twitter.png'> </li>
      <li> <img class='contact-icons' src='/assets/images/icons/youtube.png'> </li>
    </ul>
  </div>
</div>
