.logos > .participant-logo-wrapper{
  margin-top: 50px;
  width: 30%;
  float: right;
  // margin-left: 3%;
}

.logos > .participant-logo-wrapper img{
  width: 100px;
  height: 100px;
}

.logos > .participant-logo-wrapper button{
  margin-left: 13%;
}
