<div class="container" id="toporino">
  <div class="row">
    <div class="col-md-6">
      <form ng-submit="aTeam.submit()" enctype="multipart/form-data">
        <div class='row'>

          <div class='col-md-6'>
            <div class="form-group">
              <button type="button" class="btn btn-default pull-right" ng-click="aTeam.new()">Clear Fields</button> <br>
              <label for="usr">Багийн Нэр:</label>
              <input type="text" class="form-control" ng-model="aTeam.team.title">
            </div>
          </div>

          <div class='col-md-6'>
            <div class="form-group">
              <label> Багийн Лого: </label>
              <input type="file" name="logo" file-model="aTeam.team.logo">
            </div>
          </div>
        </div>

        <div class='row'>
          <div class='col-md-6'>
            <div class="form-group">
              <label> Багийн Спонсор: </label>
              <input type="text" class="form-control" ng-model="aTeam.team.sponsor">
            </div>
          </div>
          <div class='col-md-6'>
            <div class="form-group">
              <label>Багийн бүс нутаг:</label>
              <select class="form-control" ng-model="aTeam.team.region">
                <option value="">Choose Region</option>
                <option value="america">Americas</option>
                <option value="europe">Europe</option>
                <option value="sea">SE Asia</option>
                <option value="china">China</option>
              </select>
            </div>
          </div>
        </div>

        <div class='row'>
          <div class='col-md-6'>
            <div class="form-group">
              <label> Багийн Эзэн: </label>
              <input type="text" class="form-control" ng-model="aTeam.team.owner">
            </div>
            <button style="left: 35%; position:relative;" type="submit" class="btn btn-default">Оруулах</button>
          </div>
          <div class='col-md-6'>
            <div class="form-group">
              <label>Багийн танилцуулга:</label>
              <textarea class="form-control" rows="5" ng-model="aTeam.team.description"></textarea>
            </div>
          </div>
        </div>
      </form>
      <pre> {{aTeam.team | json}} </pre>
    </div>
    <div class="col-md-6">
      <label> {{aTeam.teams.length}} teams </label>

      <table class="table table-condensed ">
        <thead>
          <tr>
            <th style="width: 100px">Team Name</th>
            <th style="width: 100px">Region</th>
            <th style="width: 100px">Logo</th>
            <th>Edit/Delete</th>
          </tr>
        </thead>
        <tbody ng-repeat="team in aTeam.teams">
          <tr>
            <td>{{team.title}}</td>
            <td>{{team.region}}</td>
            <td> <img style='height: 100px' ng-if='team.logo' src='{{AA.imagePrefix + team.logo}}'> </td>
            <td>
              <button type="button" class="btn btn-primary" ng-click="aTeam.edit(team.id)">Edit</button>
              <button type="button" class="btn btn-danger" ng-click="aTeam.delete(team.id)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>
</div>
